/* =========== Member Section Start =========== */
/* ============================================ */
.our-albums {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10rem 0; */
    /* margin: 0px 0px 0px 0px; */
    /* background-color: var(--background-light); */
}

.albums-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.albums-cards {
    position: relative;
    border-radius: 10px;
    width: 410px;
    height: 409px;
    margin: 10px;
    transition: 1.15s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.albums-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Increase the size of the cards when you hover over them */
.albums-cards:hover {
    transform: scale(1.035);
    transition: 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.albums-page {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albums-page h1 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--background-dark);
    text-align: center;
    margin: 0px 0px 3rem 0px;
    border-bottom: solid var(--primary);
    border-radius: 15px;
    border-width: 4px;
    padding-bottom: 18px;
}


/* =========== album page ends =========== */
/* =========================================== */
.main_btn{
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    outline: none;
    position:relative;
    background:#833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    cursor:pointer;
    transition: all .3s;
}
.main_btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
}
.main_btn:hover{
    color:#fff;
}
.main_btn:hover:after{
    width: 100%;
}
.main_btn:after{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height:100%; 
    border-radius:5px;
    background:#da22ff;
    transition: all .3s;
}
.main{
    margin-top: 100px;
    background-color:#323232;
    padding: 10rem 0;
}
.main_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height:90%;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main_content{
    color:#fff;
    width:100%;
}
.main_img--container{
    text-align:center;
    font-size:14rem;
}
.main_img--card{
    margin:10px;
    height:450px;
    width:450px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
    
}
.main_content h1{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-size: 4rem;
    margin-bottom: 32px;
    text-transform: uppercase;
}
.main_content h2{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #8f0eff 0%, #da22ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text ;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-size: 4rem;
}
.main_content p{
    margin-top:1rem;
    font-size: 2rem;
    font-weight: 700;
}
.Soundtrack{
    padding-bottom: 10px;
    margin-top:1rem;
    font-size: 2rem;
    font-weight: 700;
}

.fa-circle-pause{
opacity: 0;
}
.fa-circle-play{
    cursor: pointer;
    padding-left: 2px;
}

/********************************************/
/*Main Section Styling for Mobile Devices*/
@media screen and (max-width: 600px) {

    
        .main_img--card {
            height: 250px;
            width: 250px;
        }
    
        .main_content h1 {
            font-size: 2rem;
            margin-top: 3rem;
        }
    
        .main_content h2 {
            font-size: 2rem;
        }
    
        .main {
            margin: 0;
            padding: 0;
        }
    
        .main_content p {
            margin-top: 2rem;
        }
    
        .main_btn {
            margin: 2.5rem 0;
            padding: .75rem 2rem;
        }
}

/********************************************/
/*Responsiveness for Hero Section Font Sizes*/
@media screen and (max-width:750px) {

    .main_img--card {
        height: 250px;
        width: 250px;
    }
    
    .main_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    
    .main_content h2 {
        font-size: 2rem;
    }
    
    .main {
        margin: 0;
        padding: 0;
    }
    
    .main_content p {
        margin-top: 2rem;
    }
    
    .main_btn {
        margin: 2.5rem 0;
        padding: .75rem 2rem;
    }
}


/* =========== Member album-section End =========== */
/* =========================================== */