/* =========== Member Section Start =========== */
/* ============================================ */

.our-albums {
    padding: 100px 0px 220px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albums-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.albums-cards {
    position: relative;
    border-radius: 10px;
    width: 410px;
    height: 409px;
    margin: 10px;
    transition: 1.15s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.albums-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Increase the size of the cards when you hover over them */
.albums-cards:hover {
    transform: scale(1.035);
    transition: 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.albums-page {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albums-page h1 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--background-dark);
    text-align: center;
    margin: 0px 0px 3rem 0px;
    border-bottom: solid var(--primary);
    border-radius: 15px;
    border-width: 4px;
    padding-bottom: 18px;
}


/* =========== album page ends =========== */
/* =========================================== */

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    padding: 90px 50px 166px 50px;
    text-transform: uppercase;
    background: var(--background-light);
}

.main_content {
    color: #fff;
    width: 100%;
}

.main_img--container {
    text-align: center;
    font-size: 14rem;
    justify-self: center;

}

.main_img--card {
    margin: 10px;
    height: 450px;
    width: 450px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.main_img--card img {
    border-radius: 10px;
}

.main_content h1 {
    background: linear-gradient(to right, #0B3BAD, #16347d);
    background-clip: text;
    color: transparent !important;
    font-size: 4rem;
    margin-bottom: 32px;
    text-transform: uppercase;
}


.Soundtrack {
    padding-bottom: 10px;
    margin-top: 2px;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.songs {
    padding-bottom: 20px;
}

.Soundtrack span {
    border-bottom: solid 2px black;
    padding: 5px;
}

.play-icon {
    padding: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.play-icon .fa-circle-pause {
    cursor: pointer;
    transition: 0.3s ease;
}

.play-icon:hover {
    color: var(--primary);
    transition: 0.3s ease;
}

.play-icon .fa-circle-pause:hover {
    color: var(--primary);
    transition: 0.3s ease;
}

/* @media screen and (max-width:1440px) {
    .songs {
        padding-left: 25px;
    }
} */

/************************************/
/*Responsive CSS for Mobile Devices**/
@media screen and (max-width:1142px) {

    /********************************************/
    /*Responsive styling for main sections*/
    .main_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 85%;
    }

    .main_img--container {
        display: flex;
        justify-content: center;
        /* padding-left: 0px; */
    }

    .main_img--card {
        height: 350px;
        width: 350px;
    }

    .main_content {
        text-align: center;
        margin-bottom: 3rem;
        padding-top: 0px;
    }

    .main_content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main_content h2 {
        font-size: 2.5rem;
    }

    .main_content p {
        margin-bottom: 1.5rem;
    }


}

/********************************************/
/*Main Section Styling for Mobile Devices*/
@media screen and (max-width: 600px) {
    .main_img--container {
        padding-left: 0px;
    }

    .main_img--card {
        height: 250px;
        width: 250px;
    }

    .main_content {
        padding-top: 0px;
    }

    .main_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_content h2 {
        font-size: 2rem;
    }

    .main_content p {
        margin-top: 2rem;
    }
}
