.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    min-height: 50dvh;
    border-radius: 4px;
    position: relative;
    min-width: 750px;
    background: #fff;
    text-align: center;
}

.order-form {
    text-align: center;
    padding: 15px;
}

.order-from-header {
    font-weight: 700;
    color: white;
    font-size: 35px;
    background: black;
    padding: 50px;
    margin-bottom: 50px;
}

.order-form form input,
.order-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: var(--accent);
    /* Makes it so you cant resized the textarea by dragging from the bottom right corner of the box */
    resize: none;
}

.order-form form button {
    background-color: var(--primary);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.order-form form button:hover {
    background-color: var(--primary-dark);
    transition: 0.5s ease;
}
