/* Swiper Container */
.swiper {
    width: 100%;
    height: 45%;
    padding: 20px;
}

.swiper_Albums {
    width: 100%;
    height: 45%;
    padding: 20px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 545px;
    height: 475px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    cursor: grab;
}


/* Increase the size and Increase the shadow on the slides when your hover over one  */
.swiper-slide:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


/* Changes the active pagination bullet*/
.swiper-pagination-bullet-active {
    background: var(--primary);
    height: 10px;
    width: 10px;
}

.swiper-pagination-bullet-active:hover {
    background: var(--primary-dark);
}

/* .swiper-pagination-bullet{
   } */

.swiper-pagination-bullet:hover {
    background: var(--primary-dark);
}

/* Changes the color of the arrows */
.swiper-button-next,
.swiper-button-prev {
    color: var(--primary);
}


/* Changes the color of the arrows when you hover over them*/
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--primary-dark);
}
