:root {
	--basically-black: #0a0a0a;

	--primary: #DC0000;
	--primary-dark: #850000;


	--light-grey: #BDC4D0;
	--grey: grey;
	--dark-grey: #555756;

	--background-light: #F3F4F8;
	--background-dark: #2F3032;
	--accent: #e5e4ea;


	--font-lightest: #fff;
	--font-light: #abaab4;
	--font-dark: #333;
	--font-darkest: #0a0a0a;

}


.tours {
    padding:100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10rem 0; */
    /* margin: 0px 0px 0px 0px; */
    /* background-color: var(--background-light); */
}

.tours h1 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--background-dark);
    text-align: center;
    margin: 0px 0px 3rem 0px;
    border-bottom: solid var(--primary);
    border-radius: 15px;
    border-width: 4px;
    padding-bottom: 18px;
}

.tours-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tour-cards {
    position: relative;
    width: 410px;
    height: 425px;
    margin: 10px;
    transition: 1.15s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.tour-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Increase the size of the cards when you hover over them */
.tour-cards:hover {
    transform: scale(1.025);
    transition: 0.5s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1.4);
}

/* sets the height to zero so that the overlay doesn't show up */


/* =========== Member Section End =========== */
/* =========================================== */
