.tour-home {
    min-height: 40dvh;
    background: grey;
    justify-content: center;
    text-align: center;
}

.tour-home h1 {
    font-weight: 800;
    color: black;
    font-size: 50px;
    padding: 200px 50px 50px 50px;
}

.tours {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10rem 0; */
    /* margin: 0px 0px 0px 0px; */
    /* background-color: var(--background-light); */
}

.tours #tours-heading {
    font-weight: 600;
    font-size: 50px;
    color: var(--background-dark);
    text-align: center;
    margin: 0px 0px 3rem 0px;
    border-bottom: solid var(--primary);
    border-radius: 15px;
    border-width: 4px;
    padding-bottom: 18px;
}

.tours-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tour-cards {
    position: relative;
    width: 410px;
    height: 425px;
    margin: 10px;
    transition: 0.35s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    justify-content: center;
}

.tour-cards:hover {
    transform: scale(1.025);
    transition: 0.35s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1.4);
}

.tour-cards img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.tour-cards h1 {
    text-align: center;
}

.tour-cards p {
    font-weight: 500;
}



.tour-cards a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
}

/* Increase the size of the cards when you hover over them */


/* .tour-card-content h1 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--font-lightest);
    text-transform: uppercase;
}

.tour-card-content p {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--font-lightest);
} */



/* sets the height to zero so that the overlay doesn't show up */

/* =========== Member Section End =========== */
/* =========================================== */
